PORT=3000
POSTGRES_PASSWORD=
POSTGRES_USER=PM25_postgres
POSTGRES_DB=mydb
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

POSTGRES_APP_USER=appuser
POSTGRES_APP_PASSWORD=

DATABASE_URL="postgresql://PM25_postgres:รหัส POSTGRES_PASSWORD@localhost:5432/ชื่อ database"
JWT_SECRET=mySuperSecretKey123